#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.square-div {
    border: solid black 1px;
    background-color: lightblue;
    padding: 0;
    margin: 1px;

    /*  width-to-height ratio = 1 = 1/1 */
    aspect-ratio: 1; 
    /*  1/16 = 6.25% is the initial size of each square
        minus 4px 
        due to double the margin (1px) and double the border's width (1px) 
    */
    flex: 1 0 calc(6.25% - 4px)
}
